* {
    margin:0;
    padding:0;
    text-align:center;
    color:grey;
}

img {
    width:235px;
    border:1px solid red;
}

.Wrapper {
    width:980px;
    margin:0 auto;
    border:1px solid black;
}

.Wrapper .float-left {
    float:left;
    width:235px;
    margin:3px;
}











